**/node_modules
**/dist
**/build
**/venv
**/.venv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/*.pyw
**/*.pyz
**/*.pywz
**/.idea
**/.vscode
**/.git
**/logs.json



.env
test.py
db_data
redis_data

.coverage
coverage.xml
htmlcov/
.tox/
.nox/
.pytest_cache/
nosetests.xml
*.cover
*.log
*.pot
*.mo
*.sqlite3
*.db

.idea
.agent
.claude
backend.egg-infotmpclaude-*
backend.egg-info/
*.egg-info/
